# Dependencies
node_modules/

# Next.js / Build
.next/
out/
build/
coverage/
public/ai

# Environment
benv
.env.local
.env.*
.env
private/
!.env.example

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# System / Editor
.DS_Store
.idea/
.vscode/
.serena/
.vercel/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Generated / Uploads
# src/generated/prisma/
public/uploads/

# AI / Tooling
gemini/
/docs/
GEMINI.md


// npx prisma migrate deploy && npx ts-node --esm prisma/seed.ts && next build
.pnpm-store-local
