/*
CSS for Reserve Tee Time Framework (Frontend)
*/

:root {
	--content-width: 1300px;
	--gap: 20px 20px;
}

/************** 
* COURSE LIST *
***************/

.rtt_courselistcountryselectorwrapper {
	margin-bottom: 35px;
}

#rtt_courselistcountryselector {
	background-color: #ffffff;
    border-color: #CFCFCF !important;
    max-width: 100%;
	color: #7A7A7A;
	vertical-align: middle;
}

.rtt_courselistblock {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 30px;
    grid-row-gap: 30px;
	align-items: stretch;
}

.rtt_courselistsingle {
	background-color: #FFFFFF;
	border: 1px solid #ddd;
	border-radius: 20px;
}

.rtt_courselistimage {
	position: relative;
	height: 250px;
	background-size: cover;
	background-position: center center;
	border-radius: 20px 20px 0px 0px;
}

.rtt_courselistfeaturedoffer {
	position: absolute;
	top: 13px;
	right: 20px;
	padding: 5px 10px 5px 10px;
    background-color: #008234;
    border-radius: 5px 5px 5px 5px;
	color: #FFFFFF;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
}

.rtt_courselistlastavailable{
	
	position: absolute;
	top: 13px;
	left: 20px;
	padding: 5px 10px 5px 10px;
    background-color: #008234;
    border-radius: 5px 5px 5px 5px;
	color: #FFFFFF !important;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif !important;
    font-size: 14px !important;
    font-weight: 600;
    text-transform: uppercase;

	
}


.rtt_courselistbody1 {
	width: 90%;
	margin: 0px auto 10px;
	padding-top: 20px;
	padding-bottom: 10px;
}

.rtt_courselistbody2 {
	width: 90%;
	margin: 0px auto 20px;
	padding-top: 20px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: flex-start;
	gap: 10px;
}

.rtt_courselistbodyseparator {
	border-bottom: 1px solid #7A7A7A38;
}

.rtt_courselistrating {
	margin-bottom: 10px;
}

.rtt_courselisttitle {
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 20px;
    font-weight: 600;
	margin-bottom: 10px;
}

.rtt_courselisttitle a,
.rtt_courselisttitle a:hover { color: #000; }

.rtt_courselistlocation {
	color: var(--e-global-color-text);
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 12px;
    font-weight: 400;
	margin-bottom: 10px;
}

.rtt_courselistdescription {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 14px;
	line-height: 21px;
    font-weight: 400;
	color: var(--e-global-color-text);
}

.rtt_courselistfreecancellation {
	margin-top: 10px;
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 13px;
    font-weight: 600;
	color: #008234;
}

.rtt_courselistprice {
	margin-top: 10px;
	text-transform: uppercase;
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 18px;
    font-weight: 700;
	color: var(--e-global-color-secondary);
}

.rtt_courselistlastavailable {
	margin-top: 10px;
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 13px;
    font-weight: 600;
	color: #D4111E;
}

.rtt_courselistbutton {
	border-radius: 20px;
	text-transform: uppercase;
	font-weight: 500;
	font-size: 15px;
	line-height: 20px;
    letter-spacing: 0.3px;
	text-align: center;
	color: #fff !important;
	width: 100%;
	padding: 12px 24px;
}

.rtt_courselistcallbutton { background-color: var(--e-global-color-secondary); }
.rtt_courselistbookbutton { background-color: #000; }

.rtt_paginator {
    text-align: center;
    margin: 30px 0;
    float: none;
    clear: both;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center !important;
    gap: 10px;
}

.rtt_paginator_element {
    width: 30px;
    height: 30px;
}

.rtt_paginator_element,
.rtt_paginator_special {
    padding: 0 4px;
}

.rtt_paginator_element a,
.rtt_paginator_element a:active,
.rtt_paginator_element a:hover {
    color: var(--e-global-color-secondary);
    font-size: 16px;
    line-height: 16px;
    font-weight: 700;
}

.rtt_paginator_element.rtt_paginator_current {
    pointer-events: none;
    background-color: var(--e-global-color-secondary);
}

.rtt_paginator_element.rtt_paginator_current a {
    color: #fff;
}

@media screen and (max-width: 1024px) {
	.rtt_courselistblock { grid-template-columns: repeat(2, 1fr); }
}

@media screen and (max-width: 767px) {
	.rtt_courselistblock { grid-template-columns: repeat(1, 1fr); }
	.rtt_courselistbody2 { flex-direction: column; }
	
	.rtt_paginator {
        text-align: center;
        margin: 30px 0;
        float: none;
        clear: both;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center !important;
        gap: 15px;
    }
    .rtt_paginator div {
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

/************************* 
* HOMEPAGE COURSE SEARCH *
**************************/

.rttsearchcoursesform {
	display: flex;
    flex-wrap: wrap;
}

.rttsearchcoursesform .selectize-input {
	padding: .5rem 1rem !important;
    background: none !important;
	border-color: #CFCFCF !important;
	line-height: 24px !important;
}

.rttsearchcoursesform-field {
	padding-right: calc(10px / 2);
    padding-left: calc(10px / 2);
    margin-bottom: 10px;
}

.rttsearchcoursesform-col50 { width: 50%; }
.rttsearchcoursesform-col100 { width: 100%; }

.rttsearchcoursesform-textfield,
.rttsearchcoursesform-dropdown {
	background-color: #ffffff;
    border-color: #CFCFCF !important;
	flex-basis: 100%;
    max-width: 100%;
	color: #7A7A7A;
	vertical-align: middle;
    flex-grow: 1;
}

.rttsearchcoursesform-button {
	display: inline-block;
    line-height: 1;
	font-family: "Rubik", Sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-radius: 0px 0px 0px 0px;
	background-color: #499545;
	color: #fff;
	min-height: 40px;
	padding: 12px 24px;
	fill: #fff;
    text-align: center;
    transition: all .3s;
	width: 100%;
	border: none;
}

.rttsearchcoursesform-button:disabled { opacity: 50%; }

.rttsearchcoursesform select[name=rttsearchcity] option:not(:first-child) {
	display: none;
}

.rttsearchcoursesform-button:hover { background-color: #499545; }

.rttsearchcoursesform .rttsearch-datefield { 
	background-image: url('icon_calendar.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

#ui-datepicker-div,
#ui-datepicker-div select {
	font-family: "DM Sans", Sans-serif;
}

.ui-widget-header {
	background: #fff;
	border: none;
}

.ui-widget-header .ui-state-hover, 
.ui-widget-header .ui-state-focus {
	background: none;
	border: none;
}

.ui-widget-header .ui-datepicker-prev,
.ui-widget-header .ui-datepicker-next {
	cursor: pointer;
	top: 10px;
}

.ui-datepicker-calendar thead tr th {
	border: none !important;
}

.ui-state-default, 
.ui-widget-content .ui-state-default, 
.ui-widget-header .ui-state-default {
	background: #e6e6e6;
}

.ui-state-active, 
.ui-widget-content .ui-state-active {
	background: var(--e-global-color-secondary);
	border: none;
	color: #fff;
}

/************** 
* COURSE PAGE *
***************/

.rtt_golfcourseheader {
	position: relative;
	background-color: var(--e-global-color-secondary);
	background-size: cover;
	background-position: center center;
	display: flex;
    min-height: 400px;
    flex-direction: column;
    justify-content: flex-end;
	padding: 60px 12px;
}

.rtt_golfcourseheader:before {
	content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0px;
    left: 0px;
	z-index: 0;
}

.rtt_golfcourseboxed {
    gap: var(--gap);
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
    height: 100%;
}

.rtt_golfcourseheaderinner {
	display: flex;
	flex-direction: column;
	flex-wrap: initial;
    justify-content: flex-end;
    align-items: initial;
    align-content: initial;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
	z-index: 1;
}

.rtt_golfcoursetitle { 
	margin: 0px;
	color: #FFFFFF;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 52px;
    font-weight: 600;
	line-height: 1;
}

.rtt_golfcourselocation {
	color: #fff;
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
	line-height: 1;
}

.rtt_golfcourselocation .dashicons { vertical-align: middle; }

.rtt_golfcourseminimumprice {
	margin: 0px;
	color: #FFFFFF;
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 22px;
    font-weight: 600;
	line-height: 1;
}

.rtt_golfcoursemessagecontainer {
	width: 100%;
	max-width: var(--content-width);
    margin: 0 auto;
	margin-top: 60px;
}

.rtt_golfcoursebody {
	display: flex;
    flex-direction: row;
    flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
	flex-wrap: wrap;
    align-self: auto;
	gap: var(--gap);
    width: 100%;
    max-width: var(--content-width);
    margin: 0 auto;
    padding-inline-start: 0;
    padding-inline-end: 0;
    height: 100%;
	padding: 60px 12px;
}

.rtt_golfcoursebodycol1 { width: calc(66.66% - 20px); padding-right: 50px; }
.rtt_golfcoursebodycol2 { width: 33.33%; }

.rtt_golfcoursesubtitle {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-weight: var(--e-global-typography-primary-font-weight);
	color: var(--e-global-color-secondary);
	margin-bottom: 20px;
}

.rtt_golfcoursedescription {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 400;
	color: var(--e-global-color-text);
	padding-bottom: 20px;
	border-bottom: 1px solid #7A7A7A38;
	margin-bottom: 20px;
}

.rtt_golfcourseservices {
	margin-bottom: 20px;
}

.rtt_golfcourseservicelist {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
	gap: var(--gap);
}

.rtt_golfcourseservicesingle {
	width: 31%;
	display: flex;
    flex-direction: row;
	flex-basis: auto;
    flex-grow: 1;
    flex-shrink: 1;
    align-self: auto;
	align-items: center;
	gap: var(--gap);
}

.rtt_golfcourseserviceicon:before {
	content: '';
	display: block;
	width: 42px;
	height: 42px;
	vertical-align: middle;
	background-color: var(--e-global-color-secondary);
}

.rtt_golfcourseserviceicon_drivingRange:before { -webkit-mask: url('/wp-content/uploads/2024/04/golf.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/golf.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_chippingArea:before { -webkit-mask: url('/wp-content/uploads/2024/04/golf-1.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/golf-1.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_puttingGreen:before { -webkit-mask: url('/wp-content/uploads/2024/04/mini-golf.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/mini-golf.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_proShop:before { -webkit-mask: url('/wp-content/uploads/2024/04/golf-equipment.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/golf-equipment.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_golfSchool:before { -webkit-mask: url('/wp-content/uploads/2024/04/golfshop.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/golfshop.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_golfBuggy:before { -webkit-mask: url('/wp-content/uploads/2024/04/buggies.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/buggies.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_pushTrolley:before { -webkit-mask: url('/wp-content/uploads/2024/04/trolley.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/trolley.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_electricTrolley:before { -webkit-mask: url('/wp-content/uploads/2024/04/trolley-1.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/trolley-1.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_golfClubRentals:before { -webkit-mask: url('/wp-content/uploads/2024/02/ux.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/02/ux.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_caddies:before { -webkit-mask: url('/wp-content/uploads/2024/04/golf-cart-2.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/golf-cart-2.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_restaurant:before { -webkit-mask: url('/wp-content/uploads/2024/04/menu.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/menu.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_bar:before { -webkit-mask: url('/wp-content/uploads/2024/04/cocktail.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/cocktail.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_lockerRoom:before { -webkit-mask: url('/wp-content/uploads/2024/04/taquillas.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/taquillas.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_wifi:before { -webkit-mask: url('/wp-content/uploads/2024/04/wifi-signal.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/wifi-signal.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }
.rtt_golfcourseserviceicon_shuttleService:before { -webkit-mask: url('/wp-content/uploads/2024/04/sedan.svg') no-repeat 50% 50%; mask: url('/wp-content/uploads/2024/04/sedan.svg') no-repeat 50% 50%; -webkit-mask-size: cover; mask-size: cover; }

.rtt_golfcourseservicename {
	color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.rttsearch-block {
	box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.1);
	padding: 30px 20px;
}

.rttsearch-title {
	color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 22px;
    font-weight: 600;
	text-align: center;
	margin: 0px 0px 20px 0px;
}

#rttsearch-filters .rttsearch-datefield {
	background-image: url('icon_calendar.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

#rttsearch-filters input[type=text],
#rttsearch-filters input[type=number],
#rttsearch-filters input[type=email],
#rttsearch-filters select {
	background-color: #F8F8F8;
    border-color: #EBEBEB;
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 14px;
    font-weight: 400;
	border-radius: 3px;
    padding: .5rem 1rem;
    transition: all .3s;
	line-height: 1.4;
    min-height: 40px;
	margin-bottom: 10px;
	width: 100%;
	color: var(--e-global-color-text);
}

#rttsearch-filters .gform_fields { gap: 5px; }
#rttsearch-filters .gfield_time_hour,
#rttsearch-filters .gfield_time_minute { width: 50%; }

#rttsearch-filters input[type=text]::placeholder { color: var(--e-global-color-text); }

#rttsearch-searchbutton,
#rttsearch-filters .gform_button {
	display: inline-block;
    line-height: 1;
	background-color: var(--e-global-color-secondary);
    color: #ffffff;
	font-family: "Rubik", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
	min-height: 40px;
	padding: 12px 24px;
	text-align: center;
    transition: all .3s;
	border: none;
	border-radius: 0px;
	width: 100%;
}

#rttsearch-results { width: 100%; }

.rttsearch-loading img { vertical-align: middle; }

.rtt-teetimesgrid {
	display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 10px;
    margin-top: 0;
	margin-bottom: 35px;
    width: 100%;
    justify-content: space-between;
    grid-template-rows: min-content;
}

.rtt-teetimesblock {
	background-color: #FFFFFF;
	border: 1px solid #ddd;
	border-radius: 20px;
}

.rtt-teetimesblockhead {
	padding: 3px 10px;
	display: flex;
    justify-content: space-between;
	align-items: flex-end;
	border-bottom: 1px solid #ddd;
}

.rtt-teetimesblockdata {
	display: flex;
}

.rtt-teetimesblockdatetime {
	color: var(--e-global-color-secondary);
    font-size: 24px;
    line-height: 32px;
    font-weight: 600;
}

.rtt-teetimesblockplayers { margin-right: 10px; }
.rtt-teetimesblockplayers:before { content: url('/wp-content/uploads/2024/08/avatar.png'); }
.rtt-teetimesblockholes:before { content: url('/wp-content/uploads/2024/08/golf.png'); }

.rtt-teetimesblockbody {
	padding: 5px 10px;
	display: flex;
    justify-content: space-between;
	align-items: center;
}

.rtt-teetimesblockprice {
	text-align: right;
}

.rtt-teetimespublicprice {
	color: red;
	text-decoration: line-through;
}

.rtt-teetimesblockfooter {
	padding: 10px;
	border-top: 1px solid #ddd;
	text-align: right;
}

.rtt-teetimesform input[type=submit],
.rtt-teetimesform input[type=submit]:focus,
.rtt-teetimesformpopup input[type=submit],
.rtt-teetimesformpopup input[type=submit]:focus {
	display: inline-block;
    line-height: 1;
    background-color: var(--e-global-color-secondary);
    color: #ffffff;
    font-family: "Rubik", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 24px;
    text-align: center;
	border: none;
	border-radius: 20px;
}

#rttsearch-msgaddedtocart {
	margin-bottom: 1em; 
	padding: 15px; 
	border-left: 5px solid;
	background-color: #CCFFCC; 
	color: #006633; 
	border-color: #006633;
}

#rttsearch-msginvalidteetime {
	margin-bottom: 1em; 
	padding: 15px; 
	border-left: 5px solid;
	background-color: #FFCCCC; 
	color: #990000; 
	border-color: #990000;
}

.rttsearch-errorbox {
	margin-bottom: 1em; 
	padding: 20px; 
	color: var(--e-global-color-secondary); 
	border: 1px solid var(--e-global-color-secondary);
	border-radius: 20px;
	text-align: center;
}

.rttsearch-errorbox a { text-decoration: underline; }

.rttsearch-errorboxicon {
	margin-bottom: 15px;
}

#ui-datepicker-div select { display: inline !important; }

.rtt_golfcoursemap { height: 350px; }

.rttsearch-overlay {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 9999;
}

.rttsearch-popup {
	background-color: #fff;
	padding: 10px;
	position: fixed;
	width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	box-shadow: 0px 0px 26px -5px rgba(0, 0, 0, 0.1);
	border-radius: 20px;
}

.rttsearch-popupcontent { position: relative; }

.rttsearch-popupclose {
	position: absolute;
	right: 0px;
	top: 0px;
	cursor: pointer;
}

.rttsearch-popupclose:before {
	content: url('icon_close.png');
}

.rttsearch-popuptitle {
	color: var(--e-global-color-secondary);
    font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
    margin: 0px 0px 20px 0px;
}

.rttsearch-popupsubtitle {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 10px 0px;
	border-bottom: 1px solid #ddd;
}

.rttsearch-popupdata {
	display: flex;
	justify-content: center;
    align-items: center;
	gap: 35px;
	text-align: center;
	margin: 20px 0px;
}

.rttsearch-popupdatatitle {
	font-weight: bold;
}

.rttsearch-popupextraproduct {
	display: flex;
	justify-content: space-between;
    align-items: center;
	margin-bottom: 10px;
}

.rttsearch-popupextraproductname,
.rttsearch-popupextraproductqty,
.rttsearch-popupextraproductprice { flex: 1 1 0; }

.rttsearch-popupextraproductqty { 
	border: 0;
	display: inline-flex;
}

.rttsearch-popupextraproductqty,
.rttsearch-popupextraproductqty * {
  box-sizing: border-box;
}

.rttsearch-popupextraproductqty input[type=number] {
	width: auto;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	appearance: textfield;
	font-family: sans-serif;
	max-width: 5rem;
	padding: .5rem;
	border: none;
	border-width: 0 2px;
	font-size: 2rem;
	height: 3rem;
	font-weight: bold;
	text-align: center;
	color:var(--e-global-color-secondary);
}

.rttsearch-popupextraproductqty input[type=number]::-webkit-inner-spin-button,
.rttsearch-popupextraproductqty input[type=number]::-webkit-outer-spin-button {
	-webkit-appearance: none;
}

.rttsearch-popupextraproductqty button {
  outline:none;
  -webkit-appearance: none;
  background-color: transparent;
  border: none;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  cursor: pointer;
  margin: 0;
  position: relative;
  box-shadow: 0px 0px 1px #474747;
    border-radius: 50%;
}

.rttsearch-popupextraproductqty button:before,
.rttsearch-popupextraproductqty button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 1rem;
  height: 2px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.rttsearch-popupextraproductqty button.rttsearch-popupplus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.rttsearch-popupextraproductprice { text-align: right; }

#rttsearch-popup-form {
	padding: 10px 30px;
}

.rttsearch-popuptotalcontainer {
	font-family: var(--e-global-typography-primary-font-family), Sans-serif;
    font-size: 18px;
    font-weight: 600;
    margin: 0px 0px 20px 0px;
	text-align: center;
	display: flex;
    justify-content: space-between;
    align-items: center;
}

.rttsearch-popuptotalreserva {
	flex: 1 1 0;
}

.rttsearch-popuptotalreserva span:first-child {
	color:var(--e-global-color-secondary);
}

.rtt-teetimesformpopup input[type=submit],
.rtt-teetimesformpopup input[type=submit]:focus {
	font-size: 18px;
	float: right;
}

@media screen and (max-width: 767px) {
  .rtt_golfcoursebodycol1, .rtt_golfcoursebodycol2 { width: 100%; }
  .rttsearch-popup { width: 95%; }
}

/******************
* CART / CHECKOUT *
******************/

.rtt_pricebreakdown {
	font-size: 13px;
}
div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .product-name { width: 60% !important; }
div.woocommerce .fc-wrapper #order_review table.woocommerce-checkout-review-order-table .product-total { width: 40% !important; }

/****************** 
* MY RESERVATIONS *
*******************/

.woocommerce-rttreservations .woocommerce-MyAccount-content-wrapper {
    padding: var(--sections-padding, 16px 30px 3px 30px);
	border: 1px solid var(--sections-border-color,#d5d8dc);
	border-radius: 20px;
}

.woocommerce-rttreservations .woocommerce table.shop_table {
	font-size: 14px;
	border: none;
}

.woocommerce-rttreservations .woocommerce table.shop_table th {
	font-family: "DM Sans", Sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

.woocommerce-rttreservations .woocommerce table.shop_table td {
	font-family: "DM Sans", Sans-serif;
}

.woocommerce-rttreservations .rtt_golfcoursemessagecontainer {
	margin-top: 0px;
}

.woocommerce-rttreservations .rtt-cancelform input[type=submit] {
	display: inline-block;
    line-height: 1;
    /*background-color: var(--e-global-color-secondary);*/
	background-color: #990000;
    color: #ffffff;
    font-family: "Rubik", Sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 8px 24px;
    text-align: center;
	border: none;
	border-radius: 20px;
}

/********************* 
* SOCIAL LOGIN FIXES *
**********************/

.wc-empty-cart-message > .woocommerce-info,
.e-my-account-tab__dashboard .woocommerce-notices-wrapper > .woocommerce-info {
	background: none;
	color: var(--e-global-color-secondary); 
	border: 1px solid var(--e-global-color-secondary);
	border-radius: 20px;
	text-align: center;
}

.wc-empty-cart-message > .woocommerce-info:before,
.e-my-account-tab__dashboard .woocommerce-notices-wrapper > .woocommerce-info:before { content: ""; }

.woo-slp-login-wrapper a {
	display: inline-block;
}