.woo-slp-login-error,
.woo-slp-login-success,
.woo-slp-login-otp-success,
.woo-slp-login-loader,
.woo-slp-login-email-error,.woo-slp-login-email-otp-error{
    display:none;
}
.woo-slp-login-error,
.woo-slp-login-success,
.woo-slp-login-otp-success,
.woo-slp-login-email-error,
.woo-slp-login-email-otp-error
{
    clear: both;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #F1ACAC;
    border: 1px solid #EE4B4B;
    margin-bottom: 1.650em;
    box-shadow: 0px 2px 2px 2px #ccc;
    padding: 8px 5px 8px 8px;
}
.woo-slp-login-error span,
.woo-slp-login-email-error span{
    display: block;
}
.woo-slp-email-login-container .woo-slp-login-error, .woo-slp-email-login-container .woo-slp-login-email-error, .woo-slp-email-login-container .woo-slp-login-success,.woo-slp-email-login-container .woo-slp-login-otp-success,.woo-slp-email-login-container .woo-slp-login-email-otp-error {
    margin-top: 10px;
}

.woo-slp-login-success, .woo-slp-login-otp-success {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}
.woo-slp-login-success a, .woo-slp-login-otp-success a {
    color: #3c763d !important;
    font-weight: bold;
}
.woo-slp-social-wrap img{
    outline: 0;
}
.woo-slp-social-container a {
    text-decoration: none !important;
}
.woo-slp-login-wrapper {
    
    display:inline-block;
    margin-right: 5px;
    margin-bottom: 5px;
}
.woo-slp-login-wrapper a {
    outline: 0;
}
.woo-slp-clear {
    clear: both;
}
.woo-slp-social-container, .woo-slp-email-login-container {	
    
    margin: 0 0 21px;
}
.woo-slp-social-container legend, .woo-slp-email-login-container legend {
    display: block;
    font-size: 120%;
    line-height: 1;
    font-weight: 700;
    width: 100%;
    margin: 0 0 21px;
    padding: 0;
}
.woo-slp-widget-content .woo-slp-login-wrapper {
    margin-bottom: 5px;
}
.woo-slp-social-container.woo-slp-widget-content{
    border:none !important;
}
.woo-slp-hide {
    display:none;
}
.woo-slp-social-container-checkout {
    border: 1px solid #eee;
    padding: 1.2em;
    margin: 0 0 21px;
}

/* css added for login page */

#woo-slp-social-container-login {	
    margin: auto;
    padding: 2% 0 2%;
    width: 320px;
    max-width: 100%
}
.login-area .ps-form #woo-slp-social-container-login {
    width: 100%;
    margin: 5px auto auto;
}
.ps-page--register #woo-slp-social-container-login {
    width: 100%;
    margin: 5px auto auto;
}


#register-page + #woo-slp-social-container-login {	
    width: auto;
}

#woo-slp-social-container-login span {	
    display: block;
    font-size: 130%;
    line-height: 1;
    font-weight: 700;
    width: 100%;
    margin: 0 0 21px;
    padding: 0;
    color: #999;
}

/* css for expand / collapse social login */

.woo-slp-info::before {
    content: ' ';
    background-image: url("../images/info-bar.png");
    position: absolute;
    left: 26px;
    top: 18px;
    height: 20px;
    width: 16px;
    background-repeat: no-repeat;
}
.woo-slp-info {
    background: #f7f6f7 none repeat scroll 0 0;
    border-top: 3px solid #1e85be;
    color: #515151;
    margin: 0 0 2em !important;
    padding: 1em 2em 1em 3.5em !important;
    position: relative;
}
.woo-slp-login-page {
    margin: 5px auto !important;
    max-width: 320px;
    content: "";
    background: url("../images/ex-col-icon.png") no-repeat scroll 16px 10px;
}
.woo-slp-login-page::before {
    content: "" !important;
}
.woo-slp-social-login-linked-profiles thead tr,
.woo-slp-social-login-linked-profiles tfoot tr{
    background-color: #f5f5f5;
}
.woo-slp-social-login-linked-profiles thead tr th,
.woo-slp-social-login-linked-profiles tfoot tr th{
    padding: 8px 0;
}
.woo-slp-social-login-linked-profiles thead tr th, .woo-slp-social-login-linked-profiles tfoot tr th{
    text-align: center;
}
.woo-slp-social-login-linked-profiles thead tr th:first-child,
.woo-slp-social-login-linked-profiles tfoot tr th:first-child{
    padding: 8px 0 8px 8px;
}
.woo-slp-social-login-linked-profiles tr td img{
    vertical-align: middle;
}

/*** Social Button Style ***/
.woo-slp-social-container .woo-slp-social-btn,
.woo-slp-social-container .woo-slp-social-btn:hover, .woo-slp-social-container .woo-slp-social-btn:active, .woo-slp-social-container .woo-slp-social-btn:visited{
    display: inline-block;
    padding: 6px 34px 6px 10px;
    color: #FFF;
    font-size: 11px;
    margin-bottom: 5px;
    min-width: 188px;
    min-height: 34px;
    max-width: 188px;
    border-radius: 12px;
    border: 1px solid rgba(0,0,0,0.2);
    text-align: center;
    word-wrap: break-word;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    line-height: 22px;
    font-weight: bold;
    position: relative;
}
.woo-social-link-buttons .woo-slp-social-btn,
.woo-social-link-buttons .woo-slp-social-btn:hover, .woo-social-link-buttons .woo-slp-social-btn:active{
    max-width: 250px;
    min-width: 250px;
}
.woo-slp-icon{
    display: inline-block;
    top: 0;
    right: 0;
    position: absolute;
    width: 32px;
    height: 100%;
    border-left: 1px solid rgba(255, 255, 255, 0.2);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 88%;
}
/* Facebook */
.woo-slp-social-btn.woo-slp-social-login-facebook {
    background-color: #3b5998;
}
.woo-slp-fb-icon {
    background-image: url("../images/facebook-icon.png");
}
/* Apple */
.woo-slp-apple-icon {
    background-image: url("../images/apple-icon.png");
}
.woo-slp-social-btn.woo-slp-social-login-apple {
    background-color: #000;
}
/* Twitter */
.woo-slp-social-btn.woo-slp-social-login-twitter {
    background-color: #03a9f4;
}
.woo-slp-tw-icon {
    background-image: url("../images/twitter-icon.png");
}
/* Google+ */
.woo-slp-social-btn.woo-slp-social-login-googleplus {
    background-color: #c54741;
}
.woo-slp-gp-icon {
    background-image: url("../images/googleplus-icon.png");
}
/* LinkedIn */
.woo-slp-social-btn.woo-slp-social-login-linkedin {
    background-color: #0e76a8;
}
.woo-slp-li-icon {
    background-image: url("../images/linkedin-icon.png");
}
/* Discus */
.woo-slp-social-btn.woo-slp-social-login-disqus {
    background-color: #2196f3;
}
.woo-slp-dq-icon {
    background-image: url("../images/disqus-icon.png");
}
/* Yahoo */
.woo-slp-social-btn.woo-slp-social-login-yahoo {
    background-color: #720e9e;
}
.woo-slp-yh-icon {
    background-image: url("../images/yahoo-icon.png");
}
/* Foursquare */
.woo-slp-social-btn.woo-slp-social-login-foursquare {
    background-color: #ec407a;
}
.woo-slp-fs-icon {
    background-image: url("../images/foursquare-icon.png");
}
/* Windows Live */
.woo-slp-social-btn.woo-slp-social-login-windowslive {
    background-color: #f34f1c;
}
.woo-slp-wl-icon {
    background-image: url("../images/windowslive-icon.png");
}
/* VK */
.woo-slp-social-btn.woo-slp-social-login-vk {
    background-color: #4b729f;
}
.woo-slp-vk-icon {
    background-image: url("../images/vk-icon.png");
}
/* Amazon */
.woo-slp-social-btn.woo-slp-social-login-amazon {
    background-color: #f90;
}
.woo-slp-amz-icon {
    background-image: url("../images/amazon-icon.png");
}
/* Paypal */
.woo-slp-social-btn.woo-slp-social-login-paypal {
    background-color: #3b7bbf;
}
.woo-slp-paypal-icon {
    background-image: url("../images/paypal-icon.png");
}
/* Line */
.woo-slp-social-btn.woo-slp-social-login-line {
    background-color: #4caf50;
}
.woo-slp-line-icon {
    background-image: url("../images/line-icon.png");
}

.woo-slp-social-btn {
    color: #fff !important;
}
.woo-slp-email-otp-section{
    display: block;
    text-align: center;
    margin: 10px 0;
}
.woo-slp-email-otp-section .woo-slp-otp-input {
    margin-bottom: 10px;
}
input#woo-slp-email-login-btn-otp{
    display: inline-block;
    padding: 15px;
    text-align: center;
}
/* Provider button css */
.woo-slp-provider{height: 34px;display: inline-block;color: #fff;min-width: 120px;vertical-align: middle;padding:0px 0px 6px 5px;border-radius: 12px;text-align: center;border: 1px solid rgba(0,0,0,0.2); }
.woo-slp-provider .woo-slp-provider-icon{display: inline-block;height: 34px;vertical-align: middle;width: 34px;text-align: right;background: rgba(166, 158, 158, 0.1);float: right;border-left: 1px solid rgba(255, 255, 255, 0.2);}
.woo-slp-provider .woo-slp-provider-icon img{max-height: 20px; margin: 7px auto; display: table;box-shadow: none;}
.woo-slp-provider .woo-slp-provider-name{text-transform: capitalize;padding-left: 7px;padding-top: 8px;font-size: 12px;display: inline-block;font-weight: bold;height: 34px;}
.button.woo-slp-social-unlink-profile{display: block;padding: 5px;font-size: 12px;border-radius: 5px;}
/* Provider button color for all link*/
.woo-slp-provider.facebook{background: #3b5998;}
.woo-slp-provider.twitter{background: #03a9f4;}
.woo-slp-provider.googleplus{background: #c54741;}
.woo-slp-provider.yahoo{background: #720e9e;}
.woo-slp-provider.amazon{background: #f90;}
.woo-slp-provider.paypal{background: #3b7bbf;}
.woo-slp-provider.vk{background: #4b729f;}
.woo-slp-provider.windowslive{background: #f34f1c;}
.woo-slp-provider.foursquare{background: #ec407a;}
.woo-slp-provider.linkedin{background: #0e76a8;}
.woo-slp-provider.apple{background: #000;}
.woo-slp-provider.line{background: #4caf50;}
.woo-slp-provider.disqus{background: #2196f3;}

.woo-slp-horizontal-divider{
    display: block;
    height: auto;
    line-height: 0;
    border-top: 1px solid #ddd;
    text-align: center;
    white-space: nowrap;
    font-size: 1rem;
    margin: 25px 0 15px;
}
.woo-slp-horizontal-divider span{
    padding: 0 10px;
    background: #fff;
}
.woo-slp-email-login-container{
    margin: auto;
    padding: 0 0 2%;
    width: 320px;
    max-width: 100%;
}
.woo-slp-email-login-wrap, .woo-slp-email-login-container legend{
    text-align: center;
}
.woo-slp-email-login-container legend{
    margin-top: 28px;
}

.woo-slp-email-login-btn {
    padding: 7px 10px;
    border: 1px solid;
    font-size: 14px;
    font-weight: bold;
    cursor: pointer;
}

.woo-slp-profile-link-container .woo-slp-social-container legend, .woo-slp-profile-link-container .woo-slp-social-wrap{
    text-align: left !important;
    
}
.woo-slp-profile-link-container {  display: none; }
.woo-slp-social-login-profile.woo-slp-social-wrap{
    text-align: left !important;	
}
.woo-slp-email-input{
    margin-bottom: 8px;
}


/*** End Social Button Style ***/

@media only screen and (max-width: 480px) {
    .woo-slp-social-login-linked-profiles tr td img{
        max-width: 100px;
    }
}

.woo-slp-social-login-linked-profiles{
    min-width:550px;
}
.table-container {
    overflow-x: auto;
}
/*** CSS for BBPress ***/
.bbp-login-form fieldset .woo-slp-social-container legend, .bbp-login-form fieldset .woo-slp-email-login-container legend{
    display: block !important;
}
form.bbp-login-form #woo-slp-social-container-login{
    width: auto;
}

.ps-form .woo-slp-social-container legend, .peepso .woo-slp-social-container legend, 
.ps-form .woo-slp-email-login-container legend, .peepso .woo-slp-email-login-container legend {
    font-size: 13px;
    margin: 5px 0 21px;
}

/* googleplus change */
.woo-slp-social-googleplus {
    position: relative;
    top: -47px;
    height: 0;
    max-width: fit-content;
}
.woo-slp-social-googleplus > div {
    opacity: 0;
    height: 0;
    width: 100%;
    left: -7px;
}
.woo-slp-social-googleplus {
    display: block;
    width: 50px;
    position: absolute !important;
    top: 0px;
    height: 50px;
}
.woo-slp-login-wrapper a {
    position: relative;
}
.woo-slp-social-googleplus iframe {
    width: 100% !important;
    margin: 0 !important;
}
.woo-slp-social-btn .woo-slp-social-googleplus iframe,
.woo-slp-social-btn .woo-slp-social-googleplus > div {
    width: 200px !important;
}
.woo-slp-social-btn .woo-slp-social-googleplus > div {
     left: -18px;
}
.login-action-login .woo-slp-social-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.login-action-login #woo-slp-social-container-login span {
    text-align: center;
}
.woo-slg-social-googleplus .S9gUrf-YoZ4jf > div {
    width: 100%;
    position: absolute;
}
